.botonSubmit{
    width: 15vw;
    padding: 7px 5px;
    background-color: rgb(241, 144, 136) !important;
    border-color: rgb(241, 144, 136)!important;
    color: white;
}

.botonSubmit:hover{
    padding: 10px 15px;
    transition: 0.5s;
}

.contForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
    padding: 5% 0%;
    border: solid;
    border-color: rgb(246, 236, 200) ;
    border-radius: 50px;
    background: rgba(246, 236, 200, 0.338);
    


}
.inputGroup{
    width: 50%;
}



.modalHeader{
    background: rgb(246,114,114);
    background: linear-gradient(90deg, rgba(246,114,114,0.6475840336134453) 0%, rgba(40,204,136,0.7708333333333334) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFooter{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonModal{
    background-color: rgb(241, 144, 136) !important;
    border-color: rgb(241, 144, 136)!important;
    color: white;
}

.modalBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}