.botonSubmit{
    width: 15vw;
    padding: 7px 5px;
    background-color: rgb(206, 220, 207) !important;
    border-color: rgb(206, 220, 207)!important;
    color: white;
}

.botonSubmit:hover{
    padding: 10px 15px;
    transition: 0.5s;
}

.contForm{
    margin-top: 5%;
}