
.contenedorDetalle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}

.imgDetalle{
    width: 35vw;
    height: 60vh;
    object-fit: contain;
}

.contTituloPrecio{
    margin: 20px;
}

.tituloDetalle{
    font-size: 3.5vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    color:rgb(29, 24, 17);
    margin-top: 10vh;
 
}

.precioDetalle{
    font-size: 3vw;
    text-align: left;
    color: rgb(29, 24, 17);
}

.contStockDescrip{
    display: flex;
    flex-flow: column wrap;
    margin: 3vh 3vh 8vh;
}

.stockDetalle{
font-size: small;
color: rgb(29, 24, 17)
}

.descripDetalle{
font-size: medium;
display: flex;
flex-wrap: wrap;
color: rgb(29, 24, 17)
}

.botonTerCompra{
    width: 15vw;
    margin-left: 50px;
    padding: 10px 5px;
    background-color: rgb(241, 144, 136) !important;
    border-color: rgb(241, 144, 136)!important;
    color: white;
}

.botonTerCompra:hover{
    background-color:rgb(194, 187, 205)!important;
    border-color: rgb(194, 187, 205)!important;
    transition: 0.5s;
}

.botonSeguirComprando{
    width: 15vw;
    margin-left: 50px;
    padding: 10px 5px;
    background-color: rgb(241, 144, 136) !important;
    border-color: rgb(241, 144, 136)!important;
    color: white;
}
.botonSeguirComprando:hover{
    background-color:rgb(194, 187, 205)!important;
    border-color: rgb(194, 187, 205)!important;
    transition: 0.5s;
}