.contenedoritemlist{
    margin:  10px;
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.h1{
    background-color: rgba(241, 145, 136, 0.095);
    font-size: 20px;
    color: rgb(210, 108, 99);
    text-align: center;
    margin: 10px 5px 0px 5px;
    padding: 20px;
}