.contenedoritemlist{
    margin:  10px;
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.h1{
    background-color: rgba(246, 236, 200, 0.242);
    font-size: 20px;
    color: rgb(204, 71, 71);
    text-align: center;
    margin: 10px 5px 0px 5px;
    padding: 20px;
}