
.logoimg{
    width: 100px;
    height: 100px;
   
}

.navbar{
    background-color: rgba(203, 228, 225, 0.325);
    --bs-bg-opacity: 1;
    padding: 10px 15px;
    
}

.navbarcontainer{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    margin-left: 5vw;
}



.NavPasiva{
    color: rgb(241, 144, 136);
    font-size: 20px;
    padding: 0px 15px 0px 60px;
    text-decoration: none;
    
}

.NavActiva{
    color: rgb(210, 108, 99) !important;
    font-size: 23px;
    padding: 0px 15px 0px 60px;
    text-decoration: none;
}

.NavPasiva:hover{
    color: rgb(210, 108, 99) !important;
}

.contenedorCartWidget{
    display: flex;
    flex-direction: row;
}

.cantidadCart{
    color: rgb(241, 144, 136);
}