
.cargandoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20vh;
}

.loader{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #c34d96;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.cargando{
    font-weight: bold;
    font-size: medium;
    color: #c34d96;

}
